/*Primeiro é necessário limpar as formatações padrões(formatações padrões de <h1> de <p> etc.)
Essa limpeza de formação é necessário devido diferença na tratativa de formação dos navegadores. 
Dessa forma seu site terá a mesma formatação em todos navegadores.*/
*{
	margin:0;
	padding:0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #F6F6F6;
	}s

#navegacao{
	background:#FFF;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position:fixed;
	width: 100%;
	top: 0;
}

#area{
	width:720px;
	margin: 0 auto;
}

#area-principal{
	width:720px;
	margin: 55px auto 10px auto;
	
}

#logo{
	float: left;
}

#menu{
	float: right;
	padding: 10px 0;
}

#postagem{
	background: #FFF;
	padding:10px;
	margin-bottom: 10px;
}

h2{
	color:#B9C941;
}

/*************************************************************
************************Formatação do menu:*******************/
a{
	text-decoration: none;
	padding: 5px 10px;
}

/*Links não visitados*/
a:link{
	color: #838383;
}

/*Links visitados*/
a:visited{
	color: #838383;
}

/*Links Hover*/
a:hover{
	background: #b9c941;
	color: #FFFF;
}

/*Links active*/
a:active{
	color: #535353;
}


/*Classes:*/

.verde{
	color: #B9C941;
}

.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block; /*para retirar o inline do "spam"*/
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin: 0 10px 5px 0;
}

.postado{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}